body
{
    font-family: Arial, Helvetica, sans-serif;
}

.form
{
    width: 800px;
    margin: 0px auto;
}

.form-headImage img
{
    width: 100%;
}

.form-formData
{
    width: 90%;
    margin: 0 auto;
}

.form-formData .form-formData-title
{
    color: #DD2F2B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 25px;
}

.form-formData-inputs
{
    margin-bottom: 30px;
}

.form-formData-inputs-label
{
    background-color: #20305D;
    color: white;
    padding: 5px 0 5.5px 5px;
    display: inline-block;
}

.form-formData-inputs-input
{
    display: inline-block;
    vertical-align: top;
}

.form-formData-inputs-input input
{
    padding: 5px 0 5px 0;
    margin-left: -5px;
}

.form-formData-inputs .blueField
{
    background-color: #20305D;
    color: white;
}

.form-formData-inputs .redLabel, .redLabel
{
    color: red;
    font-weight: 600;
}

.form-formData-inputs table
{
    border: 1px solid #A9A9A9;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 99%;
}

.form-formData-inputs table td
{
    border: 0.5px solid #A9A9A9;
    padding: 8px;
}

.form-formData-inputs table td input
{
    border: 0 solid white;
    padding: 5px;
    margin: 0;
}

.textForm
{
    width: 800px;
    margin: 0px auto;
}

.textForm .textForm-formIn
{
    width: 90%;
    margin: 0 auto;
}

.textForm-formIn .textForm-formIn-explain
{
    font-size: 11px;
}

.textForm-formIn-button
{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.textForm-formIn-button .buttonRed
{
    background-color: #E51836;
    color: white;
    border: 0 solid #E51836;
    padding: 8px;
}

.textForm-formIn-footer
{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 20px auto;
}

/* index */

/* index */

.sectionBody
{
    width: 900px;
    margin: 0 auto;
}

.sectionBody header
{
    width: 100%;
}

.sectionBody header img
{
    width: 100%;
}

.sectionBody-shields
{
    margin: 5px auto;
}

.sectionBody-shields nav
{
    text-align: center;
}

.sectionBody-shields div
{
    display: inline-block;
}

.sectionBody-shields div button
{
    width: 170px;
    border-color: #54B1E7;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    border-radius: 5px;
    background-color: #54B1E7;
    color: white;
}

.sectionBody-body
{
    margin: 55px auto 5px auto;
}

.sectionBody-body-title
{
    color: red;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.sectionBody-body-text
{
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
}

.sectionBody-body .sect
{
    border-bottom: solid 1px #B5B3B3;
    padding-bottom: 15px;
}

.sectionBody-body-foot
{
    color: red;
    font-size: 16px;
    color: #EE333B;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bolder;
}

.sectionBody footer
{
    background-color: #20305D;
    text-align: center;
    font-family: fantasy;
    font-size: 26px;
    padding: 20px 0;
}

.sectionBody footer a
{
    color: white;
    text-decoration: none;
}