@charset "utf-8";
/* CSS Document */
h1{
	font-family:Verdana;
	font-size: 14px;
}

#response{
  margin-top:15px;
  display: none;
}

body{
	font-family:Verdana;
	font-size:11px;
    background-color: #D0DFEC !important;
}

.input_error
{
    border-color: #F82222;
    border-style: solid;
    border-width: 1px;
    background-color: #FED0D0;
}

.mainZone
{
    width: 90%;
    margin: 10px auto;
}

.tableZone
{
    width: 80%;
    margin: 30px auto;
}